{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if form.instance.pk %}Edit{% else %}Add{% endif %} Milk Type - Dairy Manager{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        <i class="fas fa-{% if form.instance.pk %}edit{% else %}plus-circle{% endif %} text-primary"></i>
        {% if form.instance.pk %}Edit{% else %}Add{% endif %} Milk Type
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="{% url 'milk_type_list' %}" class="btn btn-sm btn-outline-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-8">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.rate_per_liter|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="mt-4 text-end">
                        <a href="{% url 'milk_type_list' %}" class="btn btn-outline-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">
                            {% if form.instance.pk %}Update{% else %}Save{% endif %} Milk Type
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}